
@{
    ViewBag.Title = "Pesquisa";
    Layout = "~/Views/Shared/Modal.cshtml";
}

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/Content/bootstrap.css">

<div id="exTab1" class="container-fluid">
    <ul id="myTabs" class="nav nav-pills">
        <li class="active">
            <a href="#1a" data-url="/Local/Index">Locais</a>
        </li>
        <li>
            <a href="#2a" data-url="/Evento/Index">Eventos</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <hr />

        <div class="tab-pane active" id="1a">
        </div>
        <div class="tab-pane" id="2a">
        </div>
    </div>
</div>

<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault();

        var url = $(this).attr("data-url");
        var href = this.hash;
        var pane = $(this);

        // ajax load from data-url
        $(href).load(url, function (result) {
            pane.tab('show');
        });
    });

    // load first tab content
    $('#1a').load($('.active a').attr("data-url"), function (result) {
        $('.active a').tab('show');
    });
</script>
