
@{
    ViewBag.Title = "Pesquisa";
    Layout = "~/Views/Shared/Modal.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.css">

<style>
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
        background-color: #14b943!important;
        box-shadow: 0 3px 0 0 #188336;
    }
</style>

<div id="exTab1" class="container-fluid">
    <ul id="myTabs" class="nav nav-pills">
        <li class="active">
            <a data-target="#locais" data-url="/Local/Index" data-toggle="tab">Locais</a>
        </li>
        <li>
            <a data-target="#eventos" data-url="/Evento/Index" data-toggle="tab">Eventos</a>
        </li>
        <li>
            <a data-target="#praticantes" data-url="/Praticantes/Index" data-toggle="tab">Praticantes</a>
        </li>
        <li>
            <a data-target="#estabelecimentos" data-url="/Estabelecimentos/Index" data-toggle="tab">Estabelecimentos</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <hr />

        <div class="tab-pane active" id="locais">
        </div>
        <div class="tab-pane" id="eventos">
        </div>
        <div class="tab-pane" id="praticantes">
        </div>
        <div class="tab-pane" id="estabelecimentos">
        </div>
    </div>
</div>

<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault();

        var $this = $(this),
        loadurl = $this.attr('data-url'),
        targ = $this.attr('data-target');

        $.get(loadurl, function (data) {
            $(targ).html(data);
        });

        $this.tab('show');
        return false;
    });

    // load first tab content
    $('#locais').load($('.active a').attr("data-url"), function (result) {
        $('.active a').tab('show');
    });
</script>
