<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .modal-footer {
            margin-top: 0;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
