@model PraticarEsportes.Models.Evento

@{
    ViewBag.Title = "Contador";
    Layout = "~/Views/Shared/Modal.cshtml";
}

<h2>Contador</h2>

@Html.DisplayNameFor(model => model.Evento.Nome)

