@{
    //Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Acesso Negado";
}
<div class="form-horizontal">
    <br />
    <h2 class="text-center">Acesso Negado</h2>
    @*<h3 class="text-center">@Html.ActionLink("Ir para a tela de Login", "Logar", "Publico")</h3>*@
</div>
